// https://bfanger.medium.com/styled-jsx-with-scss-in-next-js-5850dfc00449
{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["@styled-jsx/plugin-sass"]
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic",
      }
    ],
    "@babel/preset-env"
  ],
  "plugins": [["@babel/transform-runtime"]]
}
